<!DOCTYPE html>
<html lang="en">

<head id="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

	<title>Manually Timed Events</title>

	<link rel="stylesheet" href="assembled-parts.css">
	<link rel="stylesheet" href="assembled-parts-adapt.css">

	<script>
		onload = () => {
			const [pauseRunStateContainer] = document.getElementsByClassName('pause-run-state');
			const [pauseBtn, runBtn] = pauseRunStateContainer.getElementsByTagName('button');
			const [setDateTimeBtn, setBtn, cancelBtn] = document.querySelectorAll('.set-date-time button');
			const setTimeGlass = document.querySelector('.set-date-time .glass');
			const [statsBtn, closeBtn] = document.querySelectorAll('button.stats, button.close');
			const statsGlass = document.querySelector('.splash-stats .glass');

			pauseBtn.onclick = runBtn.onclick = handleRunPauseClick;
			setDateTimeBtn.onclick = toggleSetDateTimeModal;
			cancelBtn.onclick = toggleSetDateTimeModal;
			setBtn.onclick = toggleSetDateTimeModal;
			statsBtn.onclick = toggleStatsModal;
			closeBtn.onclick = toggleStatsModal;

			function handleRunPauseClick() {
				pauseRunStateContainer.classList.toggle('paused');
				pauseRunStateContainer.classList.toggle('running');
			}

			function toggleSetDateTimeModal() {
				setTimeGlass.hidden = !setTimeGlass.hidden;
			}

			function toggleStatsModal() {
				statsGlass.toggleAttribute('hidden');
			}
		}
	</script>
</head>

<body id="body">
	<div id="splash-event-app">
		<section class="current-date-time">
			<time datetime="2020-02-02 20:02">
				<h3 class="current-date">
					<span class="year">2020</span>
					-
					<span class="month">02</span>
					-
					<span class="day">02</span>
				</h3>

				<h2 class="current-time">
					<span class="hours">20</span>
					:
					<span class="minutes">02</span>
				</h2>
			</time>
		</section>

		<section class="pause-run-state paused">
			<div class="paused">
				<button class="run">run</button>
				<span class="state">paused</span>
			</div>

			<div class="running">
				<button class="pause">pause</button>
				<span class="state">running</span>
			</div>
		</section>

		<section class="set-date-time">
			<button class="set-date-time">set date/time</button>

			<div class="glass" hidden>
				<div class="modal">
					<h3>set date/time</h3>

					<form action="javascript:" class="set-date-time">
						<div>
							<label>
								<span>date:</span>
								<input type="date" name="date">
							</label>
						</div>

						<div>
							<label>
								<span>time:</span>
								<input type="time" name="time">
							</label>
						</div>

						<div>
							<button type="submit">set</button>
							<button type="reset">cancel</button>
						</div>
					</form>
				</div>
			</div>
		</section>

		<section class="splash-stats">
			<button class="stats">View Stats</button>
			<button class="splash">Splash</button>

			<div class="glass" hidden>
				<div class="modal">
					<h3>Stats</h3>
					<dl>
						<dt>Splash count up to this point in time:</dt>
						<dd>
							<b>18</b>
							(of 22 recorded)
						</dd>

						<dt>Chronologically earliest:</dt>
						<dd><b>2020-02-02 18:00</b></dd>

						<dt>Chronologically latest:</dt>
						<dd><b>2020-02-03 04:44</b></dd>

						<dt>Newly added:</dt>
						<dd><b>2020-02-03 00:01</b></dd>

						<dt>Minimum interval:</dt>
						<dd>
							<b>3 minutes</b>
							<sub>(although there is an interval of less than 1 minute in the future)</sub>
						</dd>

						<dt>Maximum interval:</dt>
						<dd>
							<b>44 minutes</b>
							<sub>(although there is an interval of 100 minutes in the future)</sub>
						</dd>

						<dt>Average interval:</dt>
						<dd>
							<b>31 minutes</b>
							<sub>(44 minutes if all recorded events are considered)</sub>
						</dd>
					</dl>
					<button class="close">Close</button>
				</div>
			</div>
		</section>

		<section class="event-list">
			<ul class="event-list">
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:02">2020-02-02 20:02</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:03">2020-02-02 20:03</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
				<li class="event">
					splash at
					<time datetime="2020-02-02 20:04">2020-02-02 20:04</time>
				</li>
			</ul>
		</section>
	</div>
</body>

</html>
