<section class="current-date-time">
  <h3 class="current-date">
    <span class="year">2020</span>
    -
    <span class="month">02</span>
    -
    <span class="day">02</span>
  </h3> 
  <h2 class="current-time">
    <span class="hours">20</span>
    :
    <span class="minutes">02</span>
  </h2>
</section>

<style>
  .current-date-time {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .current-date {
    display: flex;
    margin: 0;
    font-size: 24px;
  }

  .current-time {
    display: flex;
    margin: 0;
    font-size: 48px;
  }
  
</style>
